@import "../../components/classes/css/testPage.css";
@import "../../components/classes/css/BaseLayout.css";
@import "../../components/classes/css/HeaderBase.css";
@import "../../components/classes/css/HeaderItens.css";
@import "../../components/classes/css/IconsHeader.css";
@import "../../components/classes/css/SearchElement.css";
@import "../../components/classes/css/AsideBase.css";
@import "../../components/classes/css/Megafone.css";
@import "../../components/classes/css/IntervalFunction.css";
@import "../../components/classes/css/ResponsiveMegafone.css";
@import "../../components/classes/css/ProfileCard.css";
@import "../../components/classes/css/ProfileCardBio.css";
@import "../../components/classes/css/OnlineFriends.css";
@import "../../components/classes/css/OnlineFriendsList.css";
@import "../../components/classes/css/Right.css";
@import "../../components/classes/css/NotificationWrapper.css";
@import "../../components/classes/css/Topic.css";
@import "../../components/classes/css/VirtualizedFeed.css";
@import "../../components/classes/css/PostPropertiers.css";
@import "../../components/classes/css/PropertiersLike.css";
@import "../../components/classes/css/PropertiersComment.css";
@import "../../components/classes/css/PropertiersShare.css";
@import "../../components/classes/css/PostsText.css";
@import "../../components/classes/css/UserNamePost.css";
@import "../../components/classes/css/ProfileAndUsername.css";
@import "../../components/classes/css/UploadComponent.css";
@import "../../components/classes/css/PostComponent.css";
@import "../../components/classes/css/Step1.css";
@import "../../components/classes/css/Step2.css";
@import "../../components/classes/css/Step3.css";
@import "../../components/classes/css/Step4.css";
@import "../../components/classes/css/DefaultButton.css";
@import "../../components/classes/css/TopCard.css";
@import "../../components/classes/css/Middle.css";
@import "../../components/classes/css/AcceptDeclineButtons.css";
@import "../../components/classes/css/PostsExtendHasNoPostMedia.css";
@import "../../components/classes/css/PostsExtendHasPostMedia.css";
@import "../../components/classes/css/BorderLine.css";
@import "../../components/classes/css/PostTextPostExpand.css";
@import "../../components/classes/css/VirtualizedComments.css";
@import "../../components/classes/css/EditedComment.css";
@import "../../components/classes/css/AnswerComment.css";
@import "../../components/classes/css/Comments.css";
@import "../../components/classes/css/EditCommentsItens.css";
@import "../../components/classes/css/EditComments.css";
@import "../../components/classes/css/NoHaveCommentsYet.css";
@import "../../components/classes/css/Answers.css";
@import "../../components/classes/css/SlidePostExpand.css";
@import "../../components/classes/css/HeaderIndex.css";
@import "../../components/classes/css/Cadastro.css";
@import "../../components/classes/css/FormRegisterImplementation.css";
@import "../../components/classes/css/AlreadyHaveAccount.css";
@import "../../components/classes/css/LeftProfile.css";
@import "../../components/classes/css/Bio.css";
@import "../../components/classes/css/BioConquists.css";
@import "../../components/classes/css/BioPerformance.css";
@import "../../components/classes/css/MenuProfile.css";
@import "../../components/classes/css/Conquists.css";
@import "../../components/classes/css/ConquistsText.css";
@import "../../components/classes/css/TextsProfilePosts.css";
@import "../../components/classes/css/PostsStats.css";
@import "../../components/classes/css/CardGameMainContainer.css";
@import "../../components/classes/css/ProfileLol.css";
@import "../../components/classes/css/ProfileValorant.css";
