@import "../../components/classes/css/testPage.css";
@import "../../components/classes/css/BaseLayout.css";
@import "../../components/classes/css/HeaderBase.css";
@import "../../components/classes/css/HeaderItens.css";
@import "../../components/classes/css/IconsHeader.css";
@import "../../components/classes/css/SearchElement.css";
@import "../../components/classes/css/AsideBase.css";
@import "../../components/classes/css/GlobalChat.css";
@import "../../components/classes/css/IntervalFunction.css";
@import "../../components/classes/css/ResponsiveGlobalChat.css";
@import "../../components/classes/css/ProfileCard.css";
@import "../../components/classes/css/ProfileCardBio.css";
@import "../../components/classes/css/OnlineFriends.css";
@import "../../components/classes/css/OnlineFriendsList.css";
@import "../../components/classes/css/Right.css";
@import "../../components/classes/css/NotificationWrapper.css";
@import "../../components/classes/css/Topic.css";
@import "../../components/classes/css/VirtualizedFeed.css";
@import "../../components/classes/css/PostPropertiers.css";
@import "../../components/classes/css/PropertiersLike.css";
@import "../../components/classes/css/PropertiersComment.css";
@import "../../components/classes/css/PropertiersShare.css";
@import "../../components/classes/css/PostsText.css";
@import "../../components/classes/css/UserNamePost.css";
@import "../../components/classes/css/ProfileAndUsername.css";
@import "../../components/classes/css/UploadComponent.css";
@import "../../components/classes/css/PostComponent.css";
@import "../../components/classes/css/Step1.css";
@import "../../components/classes/css/TextAreaLayout.css";
@import "../../components/classes/css/DefaultButton.css";
