.dark {
  --overlay: #03a9fa;
  font-family: "Poppins", sans-serif;
  --primary-color: linear-gradient(to right, #4776e6, #8e54e9);
  --primary-color-variant-toB: linear-gradient(to bottom, #4776e6, #8e54e9);
  --secondary-color: linear-gradient(to right, #ff3366, #ffb703);
  --secondary-color-variant-toB: linear-gradient(to bottom, #ff3366, #ffb703);
  --tertiary-color-variant-dark: #191919;
  --tertiary-color: #0f0f0f;
  --tertiary-color-variant-light: #232327;
  --background-components: rgba(44, 44, 50, 0.7);
  --background-components-full-opacity: rgba(44, 44, 50, 1);
  --titles-color: #ff3366;
  --texts-color: #ffffff;
  --texts-color-light: rgba(230, 230, 230, 1);
  --white: #000000;
  --white-no-change: #ffffff;
  --light-white: #f5f5f5;
  --light-gray: #a1adb8;
  --dark-gray: #969c9e;
  --hover-color: #3a3a40;
  --shadow-color: #0a0a0a;
}
