.dark {
  --overlay: #03a9fa;
  font-family: "Poppins", sans-serif;
  --primary-color: linear-gradient(to right, #4776e6, #8e54e9);
  --primary-color-variant-toB: linear-gradient(to bottom, #4776e6, #8e54e9);
  --secondary-color: linear-gradient(to right, #ff3366, #ffb703);
  --secondary-color-variant-toB: linear-gradient(to bottom, #ff3366, #ffb703);
  --tertiary-color: linear-gradient(to right, #5c5c61, #6c6c72);
  --background-components: linear-gradient(
    to bottom,
    rgba(219, 224, 231, 0.4),
    rgba(219, 224, 231, 0.5)
  );

  /* --tertiary-color: linear-gradient(to bottom, #eef1f5, #e6e9f0);
    --background-components: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.4)
    ); */

  /* --tertiary-color: #fff;
    --background-components: linear-gradient(
      to bottom,
      rgba(238, 241, 245, 0.5),
      rgba(238, 241, 245, 1)
    ); */

  --tertiary-color-variant-toB: linear-gradient(to bottom, #6c6c72, #1f1f23);
  --background-components-hexa: #e7eaee;
  --background-components-high-opacity: rgba(212, 216, 220, 0.75);
  --background-components-full-opacity: rgba(212, 216, 220, 1);
  --titles-color: #ff3366;
  --texts-color: #ffffff;
  --texts-color-light: rgba(230, 230, 230, 1);
  --white: #000000;
  --white-no-change: #ffffff;
  --light-white: #f5f5f5;
  --light-gray: #969c9e;
  --dark-gray: #6e7175;
}
