.Comments-border-line {
  border-bottom: 1px solid var(--dark-gray);
}

.Comments-edit-button {
  background: var(--primary-color);
}

.Comments-cancel-button {
  background: transparent;
  border: 1px solid var(--dark-gray);
  color: var(--texts-color);
}

.Comments-cancel-button:hover {
  background: var(--dark-gray);
  color: var(--white) !important;
}
