.IntervalFunction-wrapper {
  background: rgba(219, 224, 231, 0.2);
  backdrop-filter: blur(10px);
}

.IntervalFunction-border {
  border-color: var(--light-gray);
}

.IntervalFunction-name {
  background: transparent;
}

.IntervalFunction-message {
  color: var(--texts-color);
}
