.LeftProfile-card {
  background: var(--tertiary-color-variant-light);
  color: var(--texts-color);
}

.LeftProfile-verified {
  color: var(--texts-color-variant);
}

.LeftProfile-status {
  color: #24ff00;
  border: solid 1px #24ff00;
}

.LeftProfile-shadow {
  shadow-color: var(light-gray);
}

  	