.OnlineFriends-wrapper {
  border: solid 1px;
  border-color: var(--component-border-color);
}

.OnlineFriends-search-icon {
  color: var(--texts-color);
}

.OnlineFriendsCard-expand {
  color: var(--dark-gray);
}
