.PostsExtendHasPostMedia-right-top {
  background: var(--tertiary-color-variant-light);
  color: var(--texts-color);
}

/* .PostsExtendHasPostMedia-right {
  background: var(--tertiary-color-variant-light);
  color: var(--light-white);
} */
