.SearchElement-container {
  background: var(--light-white);
}

.SearchElement-input {
  color: var(--texts-color);
  background: transparent;
}

.SearchElement-icon {
  color: rgba(0, 0, 0, 0.4);
}

.SearchElement-home-icon {
  color: var(--texts-color);
}
