.TextAreaLayout-wrapper {
  background: var(--light-white);
  border: 1px solid var(--light-gray);
}

.TextAreaLayout-wrapper input:focus {
  color: var(--texts-color);
  background: var(--light-white);
  outline: transparent;
}
